<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crear nuevo heroe</title>
</head>
<body>
	<form action="/heroes" method="post">
	
		<div>
			<label for="nombre">Nombre:</label>
			<input type="text" name="nombre" id="nombre">
		</div>

		<div>
			<label for="nivelDePoder">Nivel de poder:</label>
			<input type="text" name="nivelDePoder" id="nivelDePoder">
		</div>

		<input type="submit" value="Agregar Heroe">
	</form>
</body>
</html>